@font-face {
  font-family:"typewriter";
  font-familu:"helvectia";
}

h1 {
  text-transform: uppercase;
  font-family:"helvectia";
  color: white;
  font-size: 200%;
}

p {
  font-family:"helvectia";
  color: white;
  font-size:200%;
}

p1, p2, p3, p4, p5 {
  font-family:"typewriter";
  color: salmon;
  font-size:100%;
}

p6 {
  font-family:"helvectia";
  color: blue;
  font-size: 300%;
}

p8 {
  font-family:"helvectia";
  color: grey;
  font-size: 70%;
}

.active{

  background-color: 120,255;
 							 text-align: center;}
 							 li {
 							   text-align: center;
 							   display: inline-block;
 							 }

 							 li a {
 							     display: inherit;
 							     color: 0;
 							     text-align: center;
 							     padding: 14px 16px;
 							     text-decoration: none;
 							 }

               li a:link {
                 color: red;
                 text-decoration: none;
               }
               li a:visited{
                 color: white;
               }
               li a:hover{
                 color: black;
                 text-decoration: underline;
                 text-align: center;
               }
               li a:active{
                 color: white;
               }

#container {
	            display: flex;
	            flex-wrap: wrap;
	            font-family: 'typewriter';}

	.header {
	             background-color: #82E0AA;
	             width: 100%;
	             text-align: center;
	             padding: 5px;
							 color: 255;}

	.footer {
						 background-color:#white;
						 width: 100%;
						 text-align: center;
						 margin: 2em;
					 	 color:black}


	@media screen and (min-width: 1015px) {
	                                       .square-1 {
	                                                    width: 100%;}
	                                       .square-2 {
	                                                    width: 50%;}
																				 .square-3 {
						 	                                         width: 50%;}
	                                       .square-4 {
	                                                       width: 100%;}
	                                                                    }

  @media only screen and (max-device-width: 1024px) {
                              .bgimg-1, .bgimg-2, .bgimg-3 {
                                background-attachment: scroll;
                                        }
                              }
body, html {
    height: 100%;
    padding: 0;
    margin: 0;
}

.info {
  margin: auto;
  padding: 0em 10em;
}

.main {
  padding-top: 0;
  min-height: 50vh;
}

.divider1 {
  margin: auto;
  padding-top: 5em;
  padding-bottom: 5em;
  min-height:10em;
  background-color: black;
}

.hero-text1 {
    text-align: center;
    padding-top: 5em;
    margin: auto;
    color: white;
}

.hero-text2 {
    text-align: center;
    padding-top: 15em;
    margin: auto;
    color: white;
}

.divider2 {
  margin: auto;
  padding: 0em 10em;
  min-height:10em;
  background-color: black;
}

.bi1 {
  opacity: 0.65;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

.bi1 {
  min-height: 100vh;
  background-image: url(./images/bi.jpg)
}
.hero-image {
  background-image: url("./images/hero.jpg");
    height: 100vh;
    padding-top: 0em;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* position: relative; */
}

.hero-text3 {
    text-align: center;
    padding-top: 5em;
    margin: auto;
    color: white;
}
